/* Color Palette */
$title-color: rgb(88, 97, 39);
$main-text-color: hsla(60, 14%, 54%, 1);
$bg-color: rgba(241, 220, 167, 0.589);
$border-color: hsla(24, 54%, 60%, 1);
/* Fonts */
$title-font: 'Luckiest Guy', cursive;
$header-font: 'Grechen Fuemen', cursive;
/* Transition */
$general-transition: all 0.8s;
