// Import other scss file
@import 'reset';
@import 'variables';
@import 'component';
//Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

/* General Setting for whole project */
body {
  font-size: 10px;
  background-color: $bg-color;
}
.container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0.5rem;
}

/* Header / Nav Section */
.header-wrapper {
  width: 100%;
  height: 6rem;
  border-bottom: 3px solid $border-color;
  background-color: $bg-color;
  .container {
    text-align: center;
    .nav {
      color: $title-color;
      font-size: 2.1rem;
      font-family: $header-font;
      font-weight: bold;
      letter-spacing: 3px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      overflow: none;
      flex-wrap: wrap;
      height: 100%;
      @media (max-width: 900px) {
        font-size: 1.5rem;
        &-title {
          display: none;
        }
      }
      &-title {
        p {
          line-height: 4rem;
        }
      }

      &-logo {
        img {
          height: 65px;
        }
      }

      &-profile {
        img {
          height: 65px;
          border-radius: 100%;
          border: 3px solid $border-color;
          filter: grayscale(60%);
          transition: $general-transition;
        }

        &:hover {
          img {
            filter: none;
          }
        }
      }
    }
  }
}

/* Card List Section */
.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 4rem;
  /* Minimize padding for better look on small screen */
  @media (max-width: 900px) {
    padding: 2rem;
  }
}

/* Footer Section */
.footer-wrapper {
  width: 100%;
  height: 4rem;
  background: $bg-color;
  border-top: 3px solid $border-color;

  .footer-content {
    text-align: center;
    line-height: 3rem;

    p {
      font-size: 1rem;
      letter-spacing: 0.5px;
    }
  }
}
